Repository chmouel/snazy: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

markdown-lint:
  name: Markdown Lint
  entry: markdownlint
  args:
  - README.md
  language: system
  pass_filenames: false

vale-grammar:
  name: Vale Grammar
  entry: vale
  args:
  - README.md
  - --output
  - line
  language: system
  pass_filenames: false

cargo-check:
  name: Cargo Check
  entry: cargo
  args:
  - check
  language: system
  pass_filenames: false

cargo-build:
  name: Cargo Build
  entry: cargo
  args:
  - build
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo Clippy
  entry: cargo
  args:
  - clippy
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

test:
  name: Cargo test
  entry: cargo
  args:
  - test
  language: system
  pass_filenames: false

fmt:
  name: fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --

s/fd/snazy/
  src/cli.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

Release 0.5.1 🥳
  Cargo.lock
  Cargo.toml
Due: none

Brew formula update for snazy version 0.5.0
  Formula/snazy.rb
Due: none

Brew formula update for snazy version 0.5.1
  Formula/snazy.rb
Due: none

refactor regexps to its own
  src/parse.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

allow regexp highlighting on raw logs too
  README.md
  src/parse.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

don't set as prelrease in goreleaser
  .goreleaser.yaml
Due: none

don't grab release commit in changelog
  .goreleaser.yaml
  misc/make-release.sh
Due: none

Release 0.6.0 🥳
  Cargo.lock
  Cargo.toml
Due: none

Brew formula update for snazy version 0.6.0
  Formula/snazy.rb
Due: none

Add a nix flake for snazy
  .github/workflows/nix.yaml
  README.md
  default.nix
  flake.lock
  flake.nix
Due: markdown-lint, vale-grammar

Fixing typo in the README
  README.md
Due: markdown-lint, vale-grammar

cargo update
  Cargo.lock
Due: none

Refactor tests
  src/main.rs
  src/parse.rs
  src/parse_test.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

Add kail prefix format
  README.md
  misc/completions/_snazy
  misc/completions/_snazy.ps1
  misc/completions/snazy.bash
  misc/completions/snazy.elv
  misc/completions/snazy.fish
  src/cli.rs
  src/config.rs
  src/main.rs
  src/parse.rs
  src/parse_test.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

Release 0.7.0 🥳
  Cargo.lock
  Cargo.toml
Due: none

Update README.md
  README.md
Due: markdown-lint, vale-grammar

Brew formula update for snazy version 0.7.0
  Formula/snazy.rb
Due: none

code cleanup making it more rusty
  README.md
  src/cli.rs
  src/main.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

add action regexp and command
  misc/completions/_snazy
  misc/completions/_snazy.ps1
  misc/completions/snazy.bash
  misc/completions/snazy.elv
  misc/completions/snazy.fish
  src/cli.rs
  src/config.rs
  src/main.rs
  src/parse.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

code cleanup making it more rusty
  README.md
  src/cli.rs
  src/main.rs
  src/parse_test.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

code cleanup making it more rusty
  README.md
Due: markdown-lint, vale-grammar

spelling
  README.md
Due: markdown-lint, vale-grammar

Update deps
  Cargo.lock
Due: none

Add Makefile
  Makefile
Due: none

make pendantic clippy
  build.rs
  src/cli.rs
  src/main.rs
  src/parse.rs
  src/parse_test.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

better unwrap error
  build.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

refactor regexp to work on raw line
  README.md
  src/parse.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

fix clippy error
  src/parse.rs
  src/parse_test.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

refactor and improve coverage
  Cargo.lock
  Cargo.toml
  src/parse.rs
  src/parse_test.rs
  src/utils.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

refactor and testing of read_from_file
  src/main.rs
  src/parse.rs
  src/parse_test.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

add code coverage
  .github/workflows/codecoverage.yaml
Due: none

add caching
  .github/workflows/codecoverage.yaml
  .github/workflows/rust.yaml
Due: none

add test for level symbols
  src/utils.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

add codecov badge
  README.md
Due: markdown-lint, vale-grammar

test construct_config in main
  src/main.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

Add covdecov.yaml
  codecov.yaml
Due: none

Release 0.8.0 🥳
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  markdown-lint: any of: \.(md|markdown|mdown)$
  vale-grammar: any of: \.(md|markdown|mdown)$
  cargo-check: any of: \.rs$
  cargo-build: any of: \.rs$
  cargo-clippy: any of: \.rs$
  test: any of: \.rs$
  fmt: any of: \.rs$
