Repository chmouel/snazy: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

markdown-lint:
  name: Markdown Lint
  entry: markdownlint
  args:
  - README.md
  language: system
  pass_filenames: false

vale-grammar:
  name: Vale Grammar
  entry: vale
  args:
  - README.md
  - --output
  - line
  language: system
  pass_filenames: false

cargo-check:
  name: Cargo Check
  entry: cargo
  args:
  - check
  language: system
  pass_filenames: false

cargo-build:
  name: Cargo Build
  entry: cargo
  args:
  - build
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo Clippy
  entry: cargo
  args:
  - clippy
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

test:
  name: Cargo test
  entry: cargo
  args:
  - test
  language: system
  pass_filenames: false

fmt:
  name: fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --

cargo update
  Cargo.lock
Due: none

deps update
  Cargo.lock
Due: none

Allow defining bg and fg colours for regexps
  README.md
  src/cli.rs
  src/config.rs
  src/parse.rs
  src/parse_test.rs
  tests/tests.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

Release 0.54.0 🥳
  Cargo.lock
  Cargo.toml
Due: none

Formula Bump snazy to 0.54.0
  Formula/snazy.rb
Due: none

feat: add timezone support for timestamp conversion
  Cargo.lock
  Cargo.toml
  README.md
  src/cli.rs
  src/config.rs
  src/parse.rs
  src/utils.rs
  tests/tests.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

Release 0.55.0 🥳
  Cargo.lock
  Cargo.toml
Due: none

Update README.md
  README.md
Due: markdown-lint, vale-grammar

Formula Bump snazy to 0.55.0
  Formula/snazy.rb
Due: none

fediverse
  README.md
Due: markdown-lint, vale-grammar

refactor(parse): improve error handling and code readability
  src/parse.rs
  src/parse_test.rs
  src/utils.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

feat: Add stacktrace parsing display highlighting control
  README.md
  src/cli.rs
  src/config.rs
  src/parse.rs
  src/parse_test.rs
  tests/tests.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

chore: Update dependencies
  Cargo.lock
Due: none

Release 0.56.0 🥳
  Cargo.lock
  Cargo.toml
Due: none

Formula Bump snazy to 0.56.0
  Formula/snazy.rb
Due: none

update the readme with the new logo and add a copyright section
  README.md
Due: markdown-lint, vale-grammar

feat: Add ARM build targets refine release workflow
  .github/workflows/releaser.yaml
Due: none

update deps
  Cargo.lock
Due: none

chore: Update `cc` build dependency to the latest patch release
  Cargo.lock
Due: none

chore: Update clap and related dependency versions
  Cargo.lock
Due: none

fix: Gracefully handle file open errors in `read_a_file`
  src/parse.rs
  src/parse_test.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

fix: Handle invalid JSON numbers and regex patterns
  src/utils.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

refactor: Update timestamp conversion for improved reliability
  src/utils.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

test: Strengthen log parsing and timestamp conversion tests
  src/parse.rs
  src/utils.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

feat: Add option to disable all output coloring
  src/cli.rs
  src/config.rs
  src/parse.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

chore: Integrate uv for semver dependency in release script
  misc/make-release.sh
Due: none

Release 0.57.0 🥳
  Cargo.lock
  Cargo.toml
Due: none

cargo fmt all
  src/parse.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

update pre-commit hooks to v5.0.0
  .pre-commit-config.yaml
Due: none

refactor: Refactor boolean flags into descriptive enum types
  src/cli.rs
  src/config.rs
  src/parse.rs
  src/parse_test.rs
  src/utils.rs
  tests/tests.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

Release 0.57.1 🥳
  Cargo.lock
  Cargo.toml
Due: none

Formula Bump snazy to 0.57.1
  Formula/snazy.rb
Due: none

Formula Bump snazy to 0.57.0
  Formula/snazy.rb
Due: none

Add instructions for copilot
  .github/instructions/dev.instructions.md
Due: markdown-lint, vale-grammar

feat(events): colorize kubectl OBJECT types and document feature
  README.md
  src/parse.rs
  src/parse_test.rs
  src/utils.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

Screenshot update
  README.md
Due: markdown-lint, vale-grammar

chore: update dependencies in Cargo.lock to latest versions
  Cargo.lock
Due: none

Release 0.57.2 🥳
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  markdown-lint: any of: \.(md|markdown|mdown)$
  vale-grammar: any of: \.(md|markdown|mdown)$
  cargo-check: any of: \.rs$
  cargo-build: any of: \.rs$
  cargo-clippy: any of: \.rs$
  test: any of: \.rs$
  fmt: any of: \.rs$
