Repository chmouel/snazy: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

markdown-lint:
  name: Markdown Lint
  entry: markdownlint
  args:
  - README.md
  language: system
  pass_filenames: false

vale-grammar:
  name: Vale Grammar
  entry: vale
  args:
  - README.md
  - --output
  - line
  language: system
  pass_filenames: false

cargo-check:
  name: Cargo Check
  entry: cargo
  args:
  - check
  language: system
  pass_filenames: false

cargo-build:
  name: Cargo Build
  entry: cargo
  args:
  - build
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo Clippy
  entry: cargo
  args:
  - clippy
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

test:
  name: Cargo test
  entry: cargo
  args:
  - test
  language: system
  pass_filenames: false

fmt:
  name: fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --

Formula Bump snazy to 0.57.2
  Formula/snazy.rb
Due: none

Remove debug
  src/parse.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

Release 0.57.3 🥳
  Cargo.lock
  Cargo.toml
Due: none

Formula Bump snazy to 0.57.3
  Formula/snazy.rb
Due: none

chore: Remove unused import; clarify test variable name
  src/parse.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

chore: Bump windows-targets dependency to version 0.53.3
  Cargo.lock
Due: none

feat: display additional fields from JSON logs
  README.md
  src/cli.rs
  src/config.rs
  src/parse.rs
  tests/tests.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

chore: Upgrade cc crate to version 1.2.31
  Cargo.lock
Due: none

Release 0.58.0 🥳
  Cargo.lock
  Cargo.toml
Due: none

Formula Bump snazy to 0.58.0
  Formula/snazy.rb
Due: none

docs: Improve environment variable usage examples
  README.md
Due: markdown-lint, vale-grammar

fix: using --include-fields with kail
  src/parse.rs
  tests/tests.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

Release 0.58.1 🥳
  Cargo.lock
  Cargo.toml
Due: none

Formula Bump snazy to 0.58.1
  Formula/snazy.rb
Due: none

chore: update dependencies in Cargo.lock
  Cargo.lock
Due: none

chore: Update Rust dependencies
  Cargo.lock
Due: none

fix: Use string literal for println
  src/parse.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

chore: Update dependencies to latest versions
  Cargo.lock
Due: none

fix: Avoid unnecessary string cloning
  src/cli.rs
  src/parse.rs
  src/utils.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

chore: update dependencies
  Cargo.lock
Due: none

chore: Add sanity target to Makefile
  Makefile
Due: none

fix: use CARGO_BIN_EXE_snazy to locate binary in integration tests
  tests/testenv/mod.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

chore: update project dependencies
  Cargo.lock
Due: none

feat: add support for Caddy access log parsing
  src/parse.rs
  src/parse_test.rs
  tests/tests.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

refactor: restructure codebase
  README.md
  src/app.rs
  src/input.rs
  src/main.rs
  src/model.rs
  src/parse.rs
  src/parse_test.rs
  src/parser.rs
  src/pipeline.rs
  src/render.rs
  src/utils.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

fix: update file permissions for main.rs
  src/main.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

feat: add auto-detection for common structured log formats
  README.md
  src/parser.rs
  tests/tests.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

refactor: exclude parsed fields from extra fields output
  src/model.rs
  src/parser.rs
  src/pipeline.rs
  src/render.rs
  tests/tests.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

feat: Add time delta flag to show elapsed time between logs
  README.md
  src/app.rs
  src/cli.rs
  src/config.rs
  src/model.rs
  src/parser.rs
  src/pipeline.rs
  src/render.rs
  src/utils.rs
  tests/tests.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

feat: add script to generate release notes using AI
  misc/generate-release-notes.sh
Due: none

feat: collapse identical log lines into summaries
  README.md
  src/app.rs
  src/cli.rs
  src/config.rs
  src/input.rs
  src/render.rs
  src/utils.rs
  tests/tests.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

Release 0.59.0 🥳
  Cargo.lock
  Cargo.toml
Due: none

Formula Bump snazy to 0.59.0
  Formula/snazy.rb
Due: none

chore: Upgrade dependencies alongside release notes model
  Cargo.lock
  misc/generate-release-notes.sh
Due: none

chore: Update project dependencies in the cargo lockfile
  Cargo.lock
Due: none

feat: add weekly maintenance workflow
  .github/workflows/weekly.yaml
Due: none

chore: add path filters to workflow triggers
  .github/workflows/codecoverage.yaml.disabled
  .github/workflows/dependabot.yaml
  .github/workflows/rust.yaml
Due: none

Path conditions:
  markdown-lint: any of: \.(md|markdown|mdown)$
  vale-grammar: any of: \.(md|markdown|mdown)$
  cargo-check: any of: \.rs$
  cargo-build: any of: \.rs$
  cargo-clippy: any of: \.rs$
  test: any of: \.rs$
  fmt: any of: \.rs$
