Repository chmouel/snazy: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

markdown-lint:
  name: Markdown Lint
  entry: markdownlint
  args:
  - README.md
  language: system
  pass_filenames: false

vale-grammar:
  name: Vale Grammar
  entry: vale
  args:
  - README.md
  - --output
  - line
  language: system
  pass_filenames: false

cargo-check:
  name: Cargo Check
  entry: cargo
  args:
  - check
  language: system
  pass_filenames: false

cargo-build:
  name: Cargo Build
  entry: cargo
  args:
  - build
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo Clippy
  entry: cargo
  args:
  - clippy
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

test:
  name: Cargo test
  entry: cargo
  args:
  - test
  language: system
  pass_filenames: false

fmt:
  name: fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --

Create dependabot.yml
  .github/dependabot.yml
Due: none

dependencies update
  Cargo.lock
Due: none

use latest for github actions os images
  .github/workflows/releaser.yaml
Due: none

debug to remove
  .github/workflows/container.yaml
Due: none

put debug in the right place
  .github/workflows/codecoverage.yaml
  .github/workflows/container.yaml
Due: none

remove debug
  .github/workflows/codecoverage.yaml
Due: none

Rename codecoverage.yaml to codecoverage.yaml.disabled
  .github/workflows/codecoverage.yaml.disabled
Due: none

Update to clap 4.0
  .goreleaser.yaml
  Cargo.lock
  Cargo.toml
  build.rs
  src/cli.rs
  src/config.rs
  src/main.rs
  src/parse.rs
  src/parse_test.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

Reorder colors
  src/cli.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

fix tests
  src/parse_test.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

Fix linter errors
  src/cli.rs
  src/main.rs
  src/parse.rs
  src/parse_test.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

fix more e2e tests
  Cargo.toml
  src/cli.rs
  src/config.rs
  src/main.rs
  src/parse.rs
  src/parse_test.rs
  tests/tests.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

Update README.md
  README.md
Due: markdown-lint, vale-grammar

fix bash script grep: warning: stray \ before "
  misc/make-release.sh
Due: none

Release 0.50.0 🥳
  Cargo.lock
  Cargo.toml
Due: none

Brew formula update for snazy version 0.50.0
  Formula/snazy.rb
Due: none

complete filepath for path by default
  src/cli.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

add gh run logview with snazy script
  misc/gh-run-logview-snazy
Due: none

remove debug
  misc/gh-run-logview-snazy
Due: none

let choose the limit
  misc/gh-run-logview-snazy
Due: none

fix some ci clippy which i don't see on my laptop
  src/parse.rs
  src/utils.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

support latest chrono lib
  src/utils.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

Fix dockerimage
  README.md
Due: markdown-lint, vale-grammar

fix markdownlint
  README.md
Due: markdown-lint, vale-grammar

update README
  README.md
Due: markdown-lint, vale-grammar

buggy
  src/main.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

add label to dependabot
  .github/dependabot.yml
Due: none

update deps
  Cargo.lock
Due: none

add dependabot for ghactions
  .github/dependabot.yml
Due: none

fix new clippy
  src/parse.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

flake.lock: Update
  flake.lock
Due: none

Update cargo.lock
  Cargo.lock
Due: none

remove time dependency to chrono clock
  Cargo.lock
  Cargo.toml
Due: none

Add dependabot merge bot
  .github/workflows/dependabot.yaml
Due: none

Path conditions:
  markdown-lint: any of: \.(md|markdown|mdown)$
  vale-grammar: any of: \.(md|markdown|mdown)$
  cargo-check: any of: \.rs$
  cargo-build: any of: \.rs$
  cargo-clippy: any of: \.rs$
  test: any of: \.rs$
  fmt: any of: \.rs$
