Repository chmouel/snazy: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-vcs-permalinks
- repo: local
  hooks:
  - id: markdown-lint
    name: "Markdown Lint"
    entry: markdownlint
    args: ["README.md"]
    language: system
    types: [markdown]
    pass_filenames: false
  - id: vale-grammar
    name: "Vale Grammar"
    entry: vale
    args: ["README.md", "--output", "line"]
    language: system
    types: [markdown]
    pass_filenames: false
  - id: cargo-check
    name: "Cargo Check"
    entry: cargo
    args: ["check"]
    language: system
    types: [rust]
    pass_filenames: false
  - id: cargo-build
    name: "Cargo Build"
    entry: cargo
    args: ["build"]
    language: system
    types: [rust]
    pass_filenames: false
  - id: cargo-clippy
    name: "Cargo Clippy"
    entry: cargo
    args: ["clippy", "--", "-D", "warnings"]
    language: system
    types: [rust]
    pass_filenames: false
  - id: test
    name: "Cargo test"
    entry: cargo
    args: ["test"]
    language: system
    types: [rust]
    pass_filenames: false
  - id: fmt
    name: fmt
    description: Format files with cargo fmt.
    entry: cargo fmt
    language: system
    types: [rust]
    args: ["--"]

better dependabot
  .github/workflows/dependabot.yaml
Due: none

update deps
  Cargo.lock
  Cargo.toml
  src/cli.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

remove some extra spaces
  src/cli.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

let force the colors of regexp
  README.md
  src/cli.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

Brew formula update for snazy version 0.51.0
  Formula/snazy.rb
Due: none

fix unittests
  src/cli.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

Brew formula update for snazy version 0.51.1
  Formula/snazy.rb
Due: none

fix highlights with colon
  src/cli.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

Brew formula update for snazy version 0.51.2
  Formula/snazy.rb
Due: none

remove publish-crates
  .github/workflows/releaser.yaml
Due: none

update version in Cargo.toml
  Cargo.lock
  Cargo.toml
Due: none

update version in Cargo.toml (#178)
  Cargo.lock
  Cargo.toml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Cargo update deps
  Cargo.lock
Due: none

move to is_terminal since atty has security issues
  Cargo.lock
  Cargo.toml
  src/cli.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

really remove atty
  Cargo.lock
  Cargo.toml
Due: none

fix clippy latest warnings
  src/cli.rs
  src/parse.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

update all and all
  Cargo.lock
Due: none

Make sure we fallback to the original Timestamp
  src/utils.rs
  tests/tests.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

update deps
  Cargo.lock
Due: none

update makefile
  Makefile
Due: none

Reformat markdown
  .vale/styles/RedHat/Abbreviations.yml
  README.md
Due: markdown-lint, vale-grammar

vale fixe
  .vale/styles/RedHat/CaseSensitiveTerms.yml
  .vale/styles/RedHat/Conjunctions.yml
  .vale/styles/RedHat/ConsciousLanguage.yml
  .vale/styles/RedHat/Contractions.yml
  .vale/styles/RedHat/Definitions.yml
  .vale/styles/RedHat/Ellipses.yml
  .vale/styles/RedHat/HeadingPunctuation.yml
  .vale/styles/RedHat/Headings.yml
  .vale/styles/RedHat/OxfordComma.yml
  .vale/styles/RedHat/PassiveVoice.yml
  .vale/styles/RedHat/ReleaseNotes.yml
  .vale/styles/RedHat/SentenceLength.yml
  .vale/styles/RedHat/SimpleWords.yml
  .vale/styles/RedHat/Slash.yml
  .vale/styles/RedHat/Spacing.yml
  .vale/styles/RedHat/Spelling.yml
  .vale/styles/RedHat/TermsErrors.yml
  .vale/styles/RedHat/TermsSuggestions.yml
  .vale/styles/RedHat/TermsWarnings.yml
  .vale/styles/RedHat/Usage.yml
  README.md
Due: markdown-lint, vale-grammar

fix goreleaser deprecated
  .goreleaser.yaml
Due: none

removing nix for now until i get it working
  .github/workflows/nix.yaml
  flake.lock
  flake.nix
Due: none

Brew formula update for snazy version 0.51.3
  Formula/snazy.rb
Due: none

update version in Cargo.toml (#217)
  Cargo.lock
  Cargo.toml
Due: none

Make sure we update the Cargo.toml version on release
  .github/workflows/releaser.yaml
Due: none

Add support to specify RGB in colors
  README.md
  src/cli.rs
  tests/tests.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

Release 0.52.0 🥳
  Cargo.lock
  Cargo.toml
Due: none

fix grepping version in Cargo.toml
  .github/workflows/releaser.yaml
Due: none

Brew formula update for snazy version 0.52.0
  Formula/snazy.rb
Due: none

fix goreleaser name and deprecated repository
  .goreleaser.yaml
Due: none

deps update
  Cargo.lock
Due: none

Release 0.52.1 🥳
  Cargo.lock
  Cargo.toml
Due: none

Brew formula update for snazy version 0.52.1
  Formula/snazy.rb
Due: none

Release to cargo from make-release script
  misc/make-release.sh
Due: none

cargo update
  Cargo.lock
Due: none
