Repository chmouel/snazy: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-vcs-permalinks
- repo: local
  hooks:
  - id: markdown-lint
    name: "Markdown Lint"
    entry: markdownlint
    args: ["README.md"]
    language: system
    types: [markdown]
    pass_filenames: false
  - id: vale-grammar
    name: "Vale Grammar"
    entry: vale
    args: ["README.md", "--output", "line"]
    language: system
    types: [markdown]
    pass_filenames: false
  - id: cargo-check
    name: "Cargo Check"
    entry: cargo
    args: ["check"]
    language: system
    types: [rust]
    pass_filenames: false
  - id: cargo-build
    name: "Cargo Build"
    entry: cargo
    args: ["build"]
    language: system
    types: [rust]
    pass_filenames: false
  - id: cargo-clippy
    name: "Cargo Clippy"
    entry: cargo
    args: ["clippy", "--", "-D", "warnings"]
    language: system
    types: [rust]
    pass_filenames: false
  - id: test
    name: "Cargo test"
    entry: cargo
    args: ["test"]
    language: system
    types: [rust]
    pass_filenames: false
  - id: fmt
    name: fmt
    description: Format files with cargo fmt.
    entry: cargo fmt
    language: system
    types: [rust]
    args: ["--"]

add make-release and publish release to crates.io
  README.md
  misc/make-release.sh
Due: markdown-lint, vale-grammar

doc: Update README.md and add a z to snazy
  .goreleaser.yaml
  .markdownlint.json
  Cargo.toml
  README.md
Due: markdown-lint, vale-grammar

don't cargo publish from script, use workflows for it
  .github/workflows/releaser.yaml
  .github/workflows/rust.yaml
  misc/make-release.sh
Due: none

fix: readd LICENSE and README to fix aur package
  .goreleaser.yaml
Due: none

Release 0.0.3 🥳
  Cargo.toml
Due: none

Brew formula update for snazy version 0.0.3
  Formula/snazy.rb
Due: none

Fix getting regexp
  Cargo.lock
  misc/completions/_snazy
  misc/completions/_snazy.ps1
  misc/completions/snazy.bash
  misc/completions/snazy.elv
  misc/completions/snazy.fish
  src/cli.rs
  src/main.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

Allow multiple regexps showing multiple colours
  Cargo.lock
  Cargo.toml
  README.md
  misc/completions/_snazy
  src/cli.rs
  src/parse.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

chore: some refactoring
  build.rs
  src/app.rs
  src/main.rs
  src/parse.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

fix regexp matching colors
  Cargo.lock
  Cargo.toml
  src/parse.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

Release 0.1.0 🥳
  Cargo.toml
Due: none

Brew formula update for snazy version 0.1.0
  Formula/snazy.rb
Due: none

version 0.1.0
  Cargo.lock
Due: none

add some tests
  src/parse.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

Update README.md
  README.md
Due: markdown-lint, vale-grammar

feat: allow disabling colors
  Cargo.lock
  Cargo.toml
  README.md
  misc/completions/_snazy
  misc/completions/_snazy.ps1
  misc/completions/snazy.bash
  misc/completions/snazy.elv
  misc/completions/snazy.fish
  src/app.rs
  src/main.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

add after help
  src/app.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

Release 0.2.0 🥳
  Cargo.toml
Due: none

Brew formula update for snazy version 0.2.0
  Formula/snazy.rb
Due: none

more help
  misc/completions/_snazy
  misc/completions/_snazy.ps1
  misc/completions/snazy.elv
  misc/completions/snazy.fish
  src/app.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

make sure to update lock on release
  Cargo.lock
  misc/make-release.sh
Due: none

add -f possible values
  misc/completions/_snazy
  misc/completions/_snazy.ps1
  misc/completions/snazy.bash
  misc/completions/snazy.elv
  misc/completions/snazy.fish
  src/app.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

[refactoring] use a global config
  README.md
  misc/completions/_snazy
  misc/completions/_snazy.ps1
  misc/completions/snazy.bash
  misc/completions/snazy.elv
  misc/completions/snazy.fish
  src/app.rs
  src/cli.rs
  src/config.rs
  src/main.rs
  src/parse.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

remove dead code
  build.rs
  src/app.rs
  src/cli.rs
  src/main.rs
  src/parse.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

add json keys switches
  README.md
  misc/completions/_snazy
  misc/completions/_snazy.ps1
  misc/completions/snazy.bash
  misc/completions/snazy.elv
  misc/completions/snazy.fish
  src/cli.rs
  src/config.rs
  src/main.rs
  src/parse.rs
  src/utils.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

Release 0.3.0 🥳
  Cargo.lock
  Cargo.toml
Due: none

Brew formula update for snazy version 0.3.0
  Formula/snazy.rb
Due: none

add info about --help from -h
  src/cli.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

allow showing emojis instead of the level
  misc/completions/_snazy
  misc/completions/_snazy.ps1
  misc/completions/snazy.bash
  misc/completions/snazy.elv
  misc/completions/snazy.fish
  src/cli.rs
  src/config.rs
  src/main.rs
  src/parse.rs
  src/utils.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

add readme info about level-symbols, env variable and screenshot
  .github/screenshot-level-symbols.png
  README.md
  src/main.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

Release 0.4.0 🥳
  Cargo.lock
  Cargo.toml
Due: none

Brew formula update for snazy version 0.4.0
  Formula/snazy.rb
Due: none

add info about the env variable env in help
  src/cli.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

don't allow unsafe code
  src/main.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

refactoring code
  src/parse.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

grammars fixes
  README.md
Due: markdown-lint, vale-grammar

add direct files support
  README.md
  misc/completions/_snazy
  misc/completions/snazy.bash
  misc/completions/snazy.fish
  src/cli.rs
  src/config.rs
  src/main.rs
  src/parse.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

Release 0.5.0 🥳
  Cargo.lock
  Cargo.toml
Due: none
