Repository chmouel/snazy: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

markdown-lint:
  name: Markdown Lint
  entry: markdownlint
  args:
  - README.md
  language: system
  pass_filenames: false

vale-grammar:
  name: Vale Grammar
  entry: vale
  args:
  - README.md
  - --output
  - line
  language: system
  pass_filenames: false

cargo-check:
  name: Cargo Check
  entry: cargo
  args:
  - check
  language: system
  pass_filenames: false

cargo-build:
  name: Cargo Build
  entry: cargo
  args:
  - build
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo Clippy
  entry: cargo
  args:
  - clippy
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

test:
  name: Cargo test
  entry: cargo
  args:
  - test
  language: system
  pass_filenames: false

fmt:
  name: fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --

Brew formula update for snazy version 0.8.0
  Formula/snazy.rb
Due: none

licese is not mit just you know apache
  Cargo.toml
Due: none

fix some warning
  src/parse_test.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

add functional tests with macro, truly exciting
  tests/testenv/mod.rs
  tests/tests.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

ignore test* for codecov/ and move it to a dotfile
  .codecov.yaml
Due: none

Fix codecov ignore
  .codecov.yaml
Due: none

move provider match to utils
  src/parse.rs
  src/utils.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

more test coverage and a make target
  Makefile
  tests/tests.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

trying somethign new codecov to have no fail
  .codecov.yaml
Due: none

cache nix store
  .github/workflows/nix.yaml
Due: none

dependencies update
  Cargo.lock
Due: none

Revert "cache nix store"
  .github/workflows/nix.yaml
Due: none

cleanup comment chelou
  src/parse.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

make custom matcher as json object notation
  README.md
  src/parse.rs
  src/parse_test.rs
  tests/tests.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

test for failure
  tests/testenv/mod.rs
  tests/tests.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

Release 0.9.0 🥳
  Cargo.lock
  Cargo.toml
Due: none

Brew formula update for snazy version 0.9.0
  Formula/snazy.rb
Due: none

add test for level symbols
  tests/tests.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

refactor and more testing of kail_prefix
  src/main.rs
  src/parse.rs
  tests/testenv/mod.rs
  tests/tests.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

more test and fixes
  src/parse.rs
  src/utils.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

fix error on CI
  src/utils.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

minor refactoring and cleanups
  README.md
  misc/completions/_snazy
  misc/completions/_snazy.ps1
  misc/completions/snazy.bash
  misc/completions/snazy.elv
  misc/completions/snazy.fish
  src/cli.rs
  src/config.rs
  src/main.rs
  src/parse.rs
  tests/tests.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

setting codecov patch target to 0
  .codecov.yaml
Due: none

module update
  Cargo.lock
  misc/completions/snazy.bash
Due: none

disable test_color_by_level
  src/utils.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

add information about streaming to fzf
  README.md
Due: markdown-lint, vale-grammar

Update README.md
  README.md
Due: markdown-lint, vale-grammar

let specify a newline in kail prefix format
  README.md
  src/parse.rs
  src/parse_test.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

Release 0.9.1 🥳
  Cargo.lock
  Cargo.toml
Due: none

Brew formula update for snazy version 0.9.1
  Formula/snazy.rb
Due: none

allow skipping lines with -S option
  README.md
  misc/completions/_snazy
  misc/completions/_snazy.ps1
  misc/completions/snazy.bash
  misc/completions/snazy.elv
  misc/completions/snazy.fish
  src/cli.rs
  src/config.rs
  src/main.rs
  src/parse.rs
  src/parse_test.rs
  tests/tests.rs
Due: markdown-lint, vale-grammar, cargo-check, cargo-build, cargo-clippy, test, fmt

Release 0.10.0 🥳
  Cargo.lock
  Cargo.toml
Due: none

Brew formula update for snazy version 0.10.0
  Formula/snazy.rb
Due: none

use some keywords
  Cargo.toml
Due: none

fix emojis spacing and some for pac provider
  src/utils.rs
  tests/tests.rs
Due: cargo-check, cargo-build, cargo-clippy, test, fmt

Release 0.10.1 🥳
  Cargo.lock
  Cargo.toml
Due: none

Brew formula update for snazy version 0.10.1
  Formula/snazy.rb
Due: none

Path conditions:
  markdown-lint: any of: \.(md|markdown|mdown)$
  vale-grammar: any of: \.(md|markdown|mdown)$
  cargo-check: any of: \.rs$
  cargo-build: any of: \.rs$
  cargo-clippy: any of: \.rs$
  test: any of: \.rs$
  fmt: any of: \.rs$
